/* Général: */
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 1000px;
  background: #fff;
  margin: 50px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}

.title_right {
  color: #003147;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

p {
  color: #333;
  text-align: justify;
}

/* Consernant les ancres: */
.container a {
  text-decoration: none;
  color: #fff;
}

/* Partie de gauche: */
.container .left_side {
  position: relative;
  background: #003147;
  padding: 40px;
}

/* Section contact: */
.contact_info {
  padding-top: 40px;
}

.title_left {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.contact_info ul {
  position: relative;
}

.contact_info ul li {
  position: relative;
  list-style: none;
  margin: 10px 0;
  cursor: pointer;
}

.contact_info ul li {
  color: #fff;
  font-weight: 300;
}

.contact_info ul li .icon {
  display: inline-block;
  width: 30px;
  font-size: 18px;
  color: #03a9f4;
}

.contact_info .education li {
  margin-top: 15px;
}

.contact_info.education h5 {
  color: #03a9f4;
  font-weight: 500;
}

.contact_info.education h4:nth-child(2) {
  color: #fff;
  font-weight: 500;
}

.contact_info.education h4 {
  color: #fff;
  font-weight: 300;
}

/* Partie de droite: */
.container .right_side {
  position: relative;
  background: #fff;
  padding: 40px;
}

/* Pourcentage de maitrise des langages: */
.contact_info.language .percent {
  position: relative;
  width: 100%;
  height: 6px;
  background: #081921;
  display: block;
  margin-top: 5px;
}

.contact_info.language .percent div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #03a9f4;
}

.profile {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/* Les différents pourcentages par langage: */
.contact_info.language .percent div.cat_langage_percent {
  width: 95%;
}
.contact_info.language .percent div.parental_human_percent {
  width: 85%;
}
.contact_info.language .percent div.human_percent {
  width: 55%;
}
.contact_info.language .percent div.dog_percent {
  width: 5%;
}

/* Consernant l'image de profil: */
.profile .profile_picture {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.profile .profile_picture img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile h2 {
  color: #fff;
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  line-height: 1.4em;
}

.profile h2 span {
  font-size: 0.8em;
  font-weight: 300;
}

.about {
  margin-bottom: 50px;
}

.about:last-child {
  margin-bottom: 0;
}

.about .box {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}

.about .box .year_company {
  min-width: 150px;
}

.about .box .year_company h5 {
  text-transform: uppercase;
  color: #848c90;
  font-weight: 600;
}

.about .box .text h4 {
  text-transform: uppercase;
  color: #2a7da2;
  font-size: 16px;
}

.skills .box {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 150px 1fr;
  justify-content: center;
  align-items: center;
}

.skills .box h4 {
  text-transform: uppercase;
  color: #848c99;
  font-weight: 500;
}

.skills .box .percent {
  position: relative;
  width: 100%;
  height: 10px;
  background: #f0f0f0;
}

/* Pourcentage des occupations principales: */
.hunt {
  width: 95%;
}

.sleep {
  width: 85%;
}

.eat {
  width: 75%;
}

.stroke {
  width: 55%;
}

.skills .box .percent .skills_percent {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #03a9f4;
}

.interest ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.interest ul li {
  list-style: none;
  color: #2a7da2;
  font-weight: 500;
  margin: 10px 0;
}

@media (max-width: 1000px) {
  .container {
    margin: 10px;
    grid-template-columns: repeat(1, 1fr);
  }
  .interest ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .about .box {
    flex-direction: column;
  }
  .about .box .year_company {
    margin-bottom: 5px;
  }
  .interest ul {
    grid-template-columns: repeat(1, 1fr);
  }
  .skills .box {
    grid-template-columns: repeat(1, 1fr);
  }
}

.interest img {
  height: 15px;
  color: #03a9f4;
  padding-right: 2%;
}

/* ------------------------------------------------------------------------------------------------------- */

/* Page catLinkdin et page numéro de téléphone: */
.text h2 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.text img {
  width: 50%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* ------------------------------------------------------------------------------------------------------- */

/* Blog d'isidore: */

.blog_title {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.shrimp {
  display: flex;
  flex-direction: row;
  margin-bottom: 45px;
}

.shrimp img {
  height: 300px;
  width: 310px;
}

.blog {
  color: #003147;
}

.blog img {
  margin: 10px;
  object-fit: fill;
  border-radius: 10%;
  border: thick double #32a1ce;
}

.blog p,
.span {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  font-weight: 500;
}

.blog h2 img {
  width: 50px;
  height: 50px;
  margin-left: 15px;
  margin-right: 15px;
  border: none;
}

.blog h2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 85px;
  margin-bottom: 30px;
}

.sleep {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 45px;
}

.sleep img {
  width: 270px;
  height: 250px;
}

.sleep span,
.tree p {
  text-align: center;
}

.tree img {
  width: 300px;
  height: 320px;
}

.tree {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.roof {
  display: flex;
  align-items: center;
  justify-content: center;
}

.roof img {
  width: 430px;
  height: 300px;
}
